@{
    ViewBag.Title = "HomeIndex";
}

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid bg-info text-white" style="background-image:url(../../Content/img/mountain.png); background-size: cover; min-height: 400px;">
    <div class="container text-sm-center pt-5">
        <img src="~/Content/img/cat.jpg" class="img-fluid" style="max-height: 200px; max-width: 200px; border-radius: 50%">
        <h1 class="display-3">Welcome to my site!</h1>
    </div>
</div>
<!-- /jumbotron -->

<div class="container">

    <div id="about" class="row pt-4">
        <div class="col">
            <h3 class="mb-4" style="text-align: center">About me</h3>
            <p style="text-align: justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>

    <div id="gallery" class="row pt-4">
        <div class="col-md-6 col-lg-4 order-lg-2">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/Sofia.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is Sofia</h4>
                    <p class="card-text">Sofia is the capital and largest city of Bulgaria. 1.26 million people live in the city and 1.68 million people live in its metropolitan area</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-1">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/vitosha.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is Vitosha</h4>
                    <p class="card-text">Vitosha is a mountain massif, on the outskirts of Sofia, the capital of Bulgaria. Vitosha is one of the symbols of Sofia and the closest site for hiking, alpinism and skiing. </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-3">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/blackseavarna.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is Black Sea from Varna</h4>
                    <p class="card-text">The Black Sea is a body of water and marginal sea of the Atlantic Ocean between Eastern Europe and Western Asia. It is supplied by a number of major rivers, such as the Danube, Dnieper, Rioni, Southern Bug, and Dniester.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-4">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/Plovdiv.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is the ancient theater of Plovdiv</h4>
                    <p class="card-text">Plovdiv (Bulgarian: Пловдив) is the second-largest city in Bulgaria, with a city population of 341,567 as of 2015 and 675,586 in the greater metropolitan area.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-5">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/Burgas.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is Burgas</h4>
                    <p class="card-text">Burgas (Bulgarian: Бургас), sometimes transliterated as Bourgas, is the second largest city on the Bulgarian Black Sea Coast and the fourth-largest in Bulgaria after Sofia, Plovdiv, and Varna, with a population of 211,033 inhabitants, while 277,922 live in its urban area.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 order-lg-6">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/img/Silistra.jpg" alt="capital">
                <div class="card-body">
                    <h4 class="card-title">This is Silistra</h4>
                    <p class="card-text">Silistra (Bulgarian: Силистра) is a port city in northeastern Bulgaria. The city lies on the southern bank of the lower Danube river, and is also the part of the Romanian border where it stops following the Danube.</p>
                </div>
            </div>
        </div>
    </div>

    <h3 id="download" style="text-align: center; color: #0095da;">Download</h3>

    <div class="row pt-4 pb-4">
        <div class="col">
            <div class="text-center pt-4 pb-4">
                <div class="btn-group btn-group-lg">
                    <a href="~/Content/img/cv.png" download>
                        <button type="button" class="btn btn-primary">CV</button>
                    </a>

                    <a href="~/Content/img/autobiography.jpg" download>
                        <button type="button" class="btn btn-primary">Autobiography</button>
                    </a>

                    <a href="~/Content/img/resume.jpg" download>
                        <button type="button" class="btn btn-primary">Resume</button>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>