@{
    ViewBag.Title = "Comments";
}

<div class="container">
    <div style="text-align:center;" class="col pt-4">
        <h2 style="font-family: Roboto; color:#0095da; text-shadow: 1px 1px #0095da;">Comments by user: @ViewBag.UserName</h2>

        @foreach (var entry in ViewBag.Entries)
        {
            <div class="col pt-4 pb-4">
                <div id="inscomments">
                    <header>
                        <h3  style="text-align:center;">@entry.Message</h3>
                    </header>
                    <p  style="text-align:right;">
                        Posted on @entry.DateAdded.ToString()
                    </p>
                </div>
            </div>
        }
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Feedback")';return false;">Back to Entries</button>
    </div>
</div>