@model IEnumerable<TeddySite.Models.FeedbackEntry>

@{
    ViewBag.Title = "FeedbackIndex";
}


<div class="container">
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {

        Html.EnableClientValidation();

        using (Ajax.BeginForm("Index", "Feedback", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "allcomments",
            OnBegin = "resetTextBox"

        }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group pt-4">
                <label for="message">Message: </label>
                @Html.TextBoxFor(m => m.FirstOrDefault().Message, new { @Value = "", style = "min-height:50px; max-height: 200px;", name = "Message", @class = "form-control", id = "feedbackmessage", rows = "3" })
                @Html.ValidationMessageFor(m => m.FirstOrDefault().Message, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    }


    @{Html.RenderPartial("_AllComments", Model);}
</div>

<script>
    function resetTextBox() {
        $("#feedbackmessage").val("");
    }
</script>