@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div style="text-align:center" class="col pt-4">
        @foreach (var entry in ViewBag.userEntries)
        {
            <div class="col pt-4 pb-4">
                <div id="inscomments">

                    <p style="text-align:center;">@entry.Message</p>

                    @if (!String.IsNullOrEmpty(User.Identity.Name))
                    {
                        if (entry.Username == User.Identity.Name)
                        {
                            <div class="text-center">
                                <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit/" + entry.Id, "Feedback")';return false;">Edit me</button>
                                @*<button class="btn btn-primary" onclick="location.href='@Url.Action("Delete/"+entry.Id,"Feedback")';return false;">Delete</button>*@
                            </div>
                        }
                    }
                </div>
            </div>
        }
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Feedback")';return false;">Back to Entries</button>
    </div>
</div>
